@import url("./main.css");
h1 {
  font-size: 1.4em;
  color: var(--FontSecondaryColor);
}
.title {
  color: var(--FontPrimaryColor);
}
header {
  background-color: var(--Header);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0 0 30px 30px;
  min-height: 100px;
  max-height: fit-content;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 2px, rgba(0, 0, 0, 0.14) 0px 2px 4px;
}

.switch {
  position: relative;
  display: inline-block;
  margin: 0 5px;
}

.switch > span {
  line-height: 0rem;
  position: absolute;
  top: 14px;
  pointer-events: none;
  font-family: "Helvetica", Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  width: 50%;
  text-align: center;
}

input.check-toggle-round-flat:checked ~ .off {
  color: #484a46;
}

input.check-toggle-round-flat:checked ~ .on {
  color: #fff;
}

.switch > span.on {
  left: 0;
  padding-left: 2px;
  color: #484a46;
}

.switch > span.off {
  right: 0;
  padding-right: 4px;
  color: #fff;
}

.check-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.check-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.check-toggle-round-flat + label {
  padding: 2px;
  width: 97px;
  height: 35px;
  background-color: #484a46;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:before,
input.check-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.check-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #484a46;

  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 48px;
  background-color: #fff;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
}

input.check-toggle-round-flat:checked + label:after {
  margin-left: 44px;
}

.header-title {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto; /* Define duas colunas, uma com largura flexível e outra com largura automática */
  align-items: center;
  height: 70px;
  padding: 0 30px;
  margin-bottom: clamp(0.2%, 0.5%, 10px);
}

header h1 {
  font-family: "Poppins";
  margin: 0 auto; /* Centraliza horizontalmente o h1 dentro da .header-title */
}

.switch {
  display: flex;
  align-items: center;
}

.ul-content {
  margin: 10px 0;
}

ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}
ul li {
  margin-right: 20px;
}

li a {
  text-decoration: none;
  font-weight: 700;
  color: #444542;
}
li a:hover {
  color: var(--FontPrimaryColor);
}

.containerMain--presentation {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  gap: 3%;
  margin-bottom: 10vh;
}

.containerMain--icon,
.containerMain--icon img {
  margin-top: 10px;
}
.containerMain--presentation b h1 {
  font-size: 2.3em;
  letter-spacing: -4px;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.cssanimation,
.cssanimation span {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.cssanimation span {
  display: inline-block;
}

.leRotateYZoomIn span {
  animation-name: leRotateYZoomIn;
}
@keyframes leRotateYZoomIn {
  from {
    transform: perspective(600px) translate3d(0, -60px, -2000px) rotateY(75deg);
    opacity: 0;
  }
  5% {
    transform: perspective(600px) translate3d(0, -60px, -1500px) rotateY(75deg);
  }
}

.section__div--containerMain {
  height: 100%;
}
.section--main {
  margin-bottom: 23vh;
}

.section--Projects {
  margin: 30% 0;
}

.section--Projects h1 {
  padding-left: 3%;
}

.containerMain--aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.containerMain--aboutMe .aboutMe__div {
  min-height: 70%;
  text-shadow: rgba(0, 0, 0, 2.12) 0px 0px 2px, rgba(0, 0, 0, 0.14) 0px 2px 4px;
  background: linear-gradient( 180deg, rgb(30, 30, 36) 0.7%, rgb(72, 74, 70) 80%, rgb(30, 30, 36) 99% );
  width: 100%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
}
.containerMain--aboutMe .aboutMe__div p {
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: capitalize;
}

.containerMain--aboutMe .aboutMe__div p,
.containerMain--aboutMe .aboutMe__div h1 {
  padding: 3% 10%;
}

.div--project {
  width: 90%;
  height: 100%;
}
.projects {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.project__img {
  height: 70%;
  object-fit: contain;
  padding-top: 35px;
  display: flex;
  justify-content: center;
}
.project__img img {
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.div__projectContent {
  display: flex;
  width: 80%;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project__info {
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project__info p {
  margin-bottom: 10px;
  font-size: 0.9em;
  text-align: justify;
  width: 70%;
}

.projectButton {
  background-color: var(--FontSecondaryColor);
  border: none;
  border-radius: 8px;
  width: 50%;
  height: 7vh;
  cursor: pointer;
  max-width: 312px;
  min-width: 200px;
  color: var(--Background);
  font-weight: 500;
  transition: ease-in-out 0.2s;
}

.projectButton:hover {
  background-color: #e3962a;
  color: var(--FontPrimaryColor);
}


.link {
  color: var(--FontSecondaryColor);
  text-decoration: none;
}

.div__h1--tilt {
  overflow: hidden;
}

.tilt-n-move-shaking {
  animation: tilt-n-move-shaking 6s ease infinite;
}

.link:hover {
  color: #e3962a;
}

.contact-platforms {
  display: flex;
  flex-direction: column;
  gap: 22px;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  width: auto;
}

@media screen and (max-width: 500px) {

  .project__info p {
    width: 100%;
  }
  .containerMain--aboutMe .aboutMe__div {
    height: 80%;
  }
  .containerMain--aboutMe .aboutMe__div p,
  .containerMain--aboutMe .aboutMe__div h1 {
    padding: 1% 10%;
  }
}

@keyframes tilt-n-move-shaking {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(5px, 5px);
  }
  50% {
    transform: translate(0, 0);
  }
  75% {
    transform: translate(-5px, 5px);
  }
  100% {
    transform: translate(0, 0);
  }
}
